<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>My Courses</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <style>

    </style>
</head>
<body>
    <h1>Courses</h1>
    <p>Spring Boot Security</p>
    <div class="container">
        <form class="form-signin" method="get" action="/logout">
            <button class="btn btn-primary btn-block" type="submit">Logout</button>
        </form>
    </div>
</body>
</html>